.rr {
    text-align: center;
    color: navy;
}
img {
    width: 150px;
    height: 150px;
}
header {
    background-color: aqua;
}
.ff{ 
    font-size:30px;
}
.gg{
    font-size: 30px;
}
.kk{
    font-size: 30px;
}
.qq{
    color: coral;
}
.ee{
    color: gold;
}
.vv{
    color: aquamarine;
}
.mm{
    text-align: center;
    color: blueviolet;
}
.bb{
    text-align: center;
    color: blue;
}
.oo{
    text-align: center;
}
.image{
    text-align: center;
}
.rt{
    text-align: center;
    color: brown;
}
.sw{
    color: red;
}
.gjj{
    text-align: center;
    color: chartreuse;
}
.eee{
    text-align: center;
    color: gold;
}
.qa{
    color: rgb(117, 158, 158);
    text-align: center;
}
.qz{
    color: darkgoldenrod;
    text-align: center;
}
.qop{
    text-align: center;
    color: rgb(255, 0, 0);
}
